In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
f500 = pd.read_csv('C:/Users/tanja/Documents/GitHub/Python_Course/Data/csv/f500.csv',index_col=0)

In [6]:
#task 3.4.1
f500_head = f500.head(10)

In [5]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [7]:
#task 3.4.2
rank_change = f500['rank'] - f500['previous_rank']

In [8]:
print(rank_change)

company
Walmart                             0
State Grid                          0
Sinopec Group                      -1
China National Petroleum            1
Toyota Motor                       -3
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance           70
Wm. Morrison Supermarkets          61
TUI                                32
AutoNation                        500
Length: 500, dtype: int64

In [9]:
#task 3.4.3
rank_change_max = rank_change.max()

In [10]:
rank_change_min = rank_change.min()

In [11]:
#4 describe method
assets = f500["assets"]
print(assets.describe())

count    5.000000e+02
mean     2.436323e+05
std      4.851937e+05
min      3.717000e+03
25%      3.658850e+04
50%      7.326150e+04
75%      1.805640e+05
max      3.473238e+06
Name: assets, dtype: float64

In [12]:
country = f500["country"]
print(country.describe())

count     500
unique     34
top       USA
freq      132
Name: country, dtype: object

In [14]:
#task 3.4.4
rank = f500['rank']
rank_desc = rank.describe()
print(rank_desc)

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64

In [15]:
prev_rank = f500['previous_rank']
prev_rank_desc = prev_rank.describe()
print(prev_rank_desc)

count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

In [16]:
#methos changing
countries_counts = f500["country"].value_counts()

In [17]:
#task 3.4.5
f500['previous_rank'].value_counts()
#f500['previous_rank'].loc
zero_previous_rank = f500.loc[:,"previous_rank"].value_counts()[0]

In [18]:
#df exploration method
medians = f500[["revenues", "profits"]].median(axis=0)
# we could also use .median(axis="index")
print(medians)

revenues    40236.0
profits      1761.6
dtype: float64

In [19]:
#task 3.4.6
max_f500 = f500.max(numeric_only = True)

In [20]:
print(max_f500)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [21]:
#7 df describe method
#3.4.7
f500_desc = f500.describe
print(f500_desc)

<bound method NDFrame.describe of                                 rank  revenues  revenue_change  profits  \
company
Walmart                            1    485873             0.8  13643.0
State Grid                         2    315199            -4.4   9571.3
Sinopec Group                      3    267518            -9.1   1257.9
China National Petroleum           4    262573           -12.3   1867.5
Toyota Motor                       5    254694             7.7  16899.3
...                              ...       ...             ...      ...
Teva Pharmaceutical Industries   496     21903            11.5    329.0
New China Life Insurance         497     21796           -13.3    743.9
Wm. Morrison Supermarkets        498     21741           -11.3    406.4
TUI                              499     21655            -5.5   1151.7
AutoNation                       500     21609             3.6    430.5

                                assets  profit_change                  ceo  \
company
Walmart                         198825           -7.2  C. Douglas McMillon
State Grid                      489838           -6.2              Kou Wei
Sinopec Group                   310726          -65.0            Wang Yupu
China National Petroleum        585619          -73.7        Zhang Jianhua
Toyota Motor                    437575          -12.3          Akio Toyoda
...                                ...            ...                  ...
Teva Pharmaceutical Industries   92890          -79.3    Yitzhak Peterburg
New China Life Insurance        100609          -45.6             Wan Feng
Wm. Morrison Supermarkets        11630           20.4       David T. Potts
TUI                              16247          195.5    Friedrich Joussen
AutoNation                       10060           -2.7   Michael J. Jackson

                                                       industry  \
company
Walmart                                   General Merchandisers
State Grid                                            Utilities
Sinopec Group                                Petroleum Refining
China National Petroleum                     Petroleum Refining
Toyota Motor                           Motor Vehicles and Parts
...                                                         ...
Teva Pharmaceutical Industries                  Pharmaceuticals
New China Life Insurance        Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                  Food and Drug Stores
TUI                                             Travel Services
AutoNation                                  Specialty Retailers

                                                sector  previous_rank  \
company
Walmart                                      Retailing              1
State Grid                                      Energy              2
Sinopec Group                                   Energy              4
China National Petroleum                        Energy              3
Toyota Motor                    Motor Vehicles & Parts              8
...                                                ...            ...
Teva Pharmaceutical Industries             Health Care              0
New China Life Insurance                    Financials            427
Wm. Morrison Supermarkets           Food & Drug Stores            437
TUI                                  Business Services            467
AutoNation                                   Retailing              0

                                country           hq_location  \
company
Walmart                             USA       Bentonville, AR
State Grid                        China        Beijing, China
Sinopec Group                     China        Beijing, China
China National Petroleum          China        Beijing, China
Toyota Motor                      Japan         Toyota, Japan
...                                 ...                   ...
Teva Pharmaceutical Industries   Israel  Petach Tikva, Israel
New China Life Insurance          China        Beijing, China
Wm. Morrison Supermarkets       Britain     Bradford, Britain
TUI                             Germany      Hanover, Germany
AutoNation                          USA   Fort Lauderdale, FL

                                                     website  \
company
Walmart                               http://www.walmart.com
State Grid                            http://www.sgcc.com.cn
Sinopec Group                         http://www.sinopec.com
China National Petroleum              http://www.cnpc.com.cn
Toyota Motor                    http://www.toyota-global.com
...                                                      ...
Teva Pharmaceutical Industries      http://www.tevapharm.com
New China Life Insurance         http://www.newchinalife.com
Wm. Morrison Supermarkets           http://www.morrisons.com
TUI                                  http://www.tuigroup.com
AutoNation                         http://www.autonation.com

                                years_on_global_500_list  employees  \
company
Walmart                                               23    2300000
State Grid                                            17     926067
Sinopec Group                                         19     713288
China National Petroleum                              17    1512048
Toyota Motor                                          23     364445
...                                                  ...        ...
Teva Pharmaceutical Industries                         1      56960
New China Life Insurance                               2      54378
Wm. Morrison Supermarkets                             13      77210
TUI                                                   23      66779
AutoNation                                            12      26000

                                total_stockholder_equity
company
Walmart                                            77798
State Grid                                        209456
Sinopec Group                                     106523
China National Petroleum                          301893
Toyota Motor                                      157210
...                                                  ...
Teva Pharmaceutical Industries                     33337
New China Life Insurance                            8507
Wm. Morrison Supermarkets                           5111
TUI                                                 3006
AutoNation                                          2310

[500 rows x 16 columns]>

In [22]:
#task 3.4.8
f500.loc["Dow Chemical","ceo"] = "Jim Fitterling"

In [23]:
#task 3.4.9
motor_bool = f500.loc[:,'industry'] == 'Motor Vehicles and Parts'
motor_countries = f500.loc[motor_bool,'country']

In [24]:
#task 3.4.10
import numpy as np
f500 = pd.read_csv('C:/Users/tanja/Documents/GitHub/Python_Course/Data/csv/f500.csv',index_col=0)
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

In [27]:
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
prev_rank_after = f500["previous_rank"].value_counts(dropna=False).head()

print(prev_rank_before)
print()
print(prev_rank_after)

previous_rank
0      33
1       1
302     1
334     1
325     1
Name: count, dtype: int64

previous_rank
NaN      33
1.0       1
302.0     1
334.0     1
325.0     1
Name: count, dtype: int64

In [28]:
#3.4.11
f500["rank_change"] = f500["rank"] - f500["previous_rank"]
rank_change_desc = f500["rank_change"].describe()
rank_change_desc["min"]>-500
print(rank_change_desc["min"]>-500)

True