In [1]:
import pandas as pd

In [2]:
#task 3.3.2
f500 = pd.read_csv('C:/Users/tanja/Documents/GitHub/Python_Course/Data/csv/f500.csv',index_col=0)

In [3]:
f500.index.name = None

In [5]:
f500_type = type(f500)

In [6]:
f500_shape = f500.shape

In [7]:
print(f500_type)

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(f500_shape)

(500, 16)

In [9]:
f500.head(3)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

In [10]:
f500.tail(3)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [13]:
#task 3.3.3
f500_head = f500.head(6)

In [14]:
f500_tail = f500.tail(8)

In [15]:
print(f500.dtypes)

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [16]:
#task 3.3.4
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [17]:
#selecting a column from a DataFrame by Label
f500.loc[:,'rank']

Walmart                             1
State Grid                          2
Sinopec Group                       3
China National Petroleum            4
Toyota Motor                        5
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance          497
Wm. Morrison Supermarkets         498
TUI                               499
AutoNation                        500
Name: rank, Length: 500, dtype: int64

In [18]:
rank_col = f500['rank']
print(rank_col)

Walmart                             1
State Grid                          2
Sinopec Group                       3
China National Petroleum            4
Toyota Motor                        5
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance          497
Wm. Morrison Supermarkets         498
TUI                               499
AutoNation                        500
Name: rank, Length: 500, dtype: int64

In [20]:
#task 3.3.5
industries = f500['industry']

In [21]:
industries_type = type(industries)
print(industries_type)

<class 'pandas.core.series.Series'>

In [22]:
#selecting more tan 1 columns from a df by label
f500.loc[:,['country','rank']]

                                country  rank
Walmart                             USA     1
State Grid                        China     2
Sinopec Group                     China     3
China National Petroleum          China     4
Toyota Motor                      Japan     5
...                                 ...   ...
Teva Pharmaceutical Industries   Israel   496
New China Life Insurance          China   497
Wm. Morrison Supermarkets       Britain   498
TUI                             Germany   499
AutoNation                          USA   500

[500 rows x 2 columns]

In [24]:
f500[['country','rank']]

                                country  rank
Walmart                             USA     1
State Grid                        China     2
Sinopec Group                     China     3
China National Petroleum          China     4
Toyota Motor                      Japan     5
...                                 ...   ...
Teva Pharmaceutical Industries   Israel   496
New China Life Insurance          China   497
Wm. Morrison Supermarkets       Britain   498
TUI                             Germany   499
AutoNation                          USA   500

[500 rows x 2 columns]

In [26]:
#selecting a SLICE OBJECT
f500.loc[:,'rank':'profits']

                                rank  revenues  revenue_change  profits
Walmart                            1    485873             0.8  13643.0
State Grid                         2    315199            -4.4   9571.3
Sinopec Group                      3    267518            -9.1   1257.9
China National Petroleum           4    262573           -12.3   1867.5
Toyota Motor                       5    254694             7.7  16899.3
...                              ...       ...             ...      ...
Teva Pharmaceutical Industries   496     21903            11.5    329.0
New China Life Insurance         497     21796           -13.3    743.9
Wm. Morrison Supermarkets        498     21741           -11.3    406.4
TUI                              499     21655            -5.5   1151.7
AutoNation                       500     21609             3.6    430.5

[500 rows x 4 columns]

In [32]:
#task 3.3.6
countries = f500.loc[:,'country'] #or countries= f500['country']

In [33]:
revenues_years = f500[['revenues','years_on_global_500_list']]
print(revenues_years)

                                revenues  years_on_global_500_list
Walmart                           485873                        23
State Grid                        315199                        17
Sinopec Group                     267518                        19
China National Petroleum          262573                        17
Toyota Motor                      254694                        23
...                                  ...                       ...
Teva Pharmaceutical Industries     21903                         1
New China Life Insurance           21796                         2
Wm. Morrison Supermarkets          21741                        13
TUI                                21655                        23
AutoNation                         21609                        12

[500 rows x 2 columns]

In [31]:
ceo_to_sector = f500.loc[:,'ceo':'sector']
print(ceo_to_sector)

                                                ceo  \
Walmart                         C. Douglas McMillon
State Grid                                  Kou Wei
Sinopec Group                             Wang Yupu
China National Petroleum              Zhang Jianhua
Toyota Motor                            Akio Toyoda
...                                             ...
Teva Pharmaceutical Industries    Yitzhak Peterburg
New China Life Insurance                   Wan Feng
Wm. Morrison Supermarkets            David T. Potts
TUI                               Friedrich Joussen
AutoNation                       Michael J. Jackson

                                                       industry  \
Walmart                                   General Merchandisers
State Grid                                            Utilities
Sinopec Group                                Petroleum Refining
China National Petroleum                     Petroleum Refining
Toyota Motor                           Motor Vehicles and Parts
...                                                         ...
Teva Pharmaceutical Industries                  Pharmaceuticals
New China Life Insurance        Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                  Food and Drug Stores
TUI                                             Travel Services
AutoNation                                  Specialty Retailers

                                                sector
Walmart                                      Retailing
State Grid                                      Energy
Sinopec Group                                   Energy
China National Petroleum                        Energy
Toyota Motor                    Motor Vehicles & Parts
...                                                ...
Teva Pharmaceutical Industries             Health Care
New China Life Insurance                    Financials
Wm. Morrison Supermarkets           Food & Drug Stores
TUI                                  Business Services
AutoNation                                   Retailing

[500 rows x 3 columns]

In [36]:
#selecting a single row from a df
single_row = f500.loc['Sinopec Group']
print(type(single_row))
print(single_row)

<class 'pandas.core.series.Series'>
rank                                             3
revenues                                    267518
revenue_change                                -9.1
profits                                     1257.9
assets                                      310726
profit_change                                -65.0
ceo                                      Wang Yupu
industry                        Petroleum Refining
sector                                      Energy
previous_rank                                    4
country                                      China
hq_location                         Beijing, China
website                     http://www.sinopec.com
years_on_global_500_list                        19
employees                                   713288
total_stockholder_equity                    106523
Name: Sinopec Group, dtype: object

In [37]:
#to select a list of rows
list_rows = f500.loc[["Toyota Motor", "Walmart"]]
print(type(list_rows))
print(list_rows)

<class 'pandas.core.frame.DataFrame'>
              rank  revenues  revenue_change  profits  assets  profit_change  \
Toyota Motor     5    254694             7.7  16899.3  437575          -12.3
Walmart          1    485873             0.8  13643.0  198825           -7.2

                              ceo                  industry  \
Toyota Motor          Akio Toyoda  Motor Vehicles and Parts
Walmart       C. Douglas McMillon     General Merchandisers

                              sector  previous_rank country      hq_location  \
Toyota Motor  Motor Vehicles & Parts              8   Japan    Toyota, Japan
Walmart                    Retailing              1     USA  Bentonville, AR

                                   website  years_on_global_500_list  \
Toyota Motor  http://www.toyota-global.com                        23
Walmart             http://www.walmart.com                        23

              employees  total_stockholder_equity
Toyota Motor     364445                    157210
Walmart         2300000                     77798

In [38]:
#to select slice objects ROWS
slice_rows = f500["State Grid":"Toyota Motor"]
print(type(slice_rows))
print(slice_rows)

<class 'pandas.core.frame.DataFrame'>
                          rank  revenues  revenue_change  profits  assets  \
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575

                          profit_change            ceo  \
State Grid                         -6.2        Kou Wei
Sinopec Group                     -65.0      Wang Yupu
China National Petroleum          -73.7  Zhang Jianhua
Toyota Motor                      -12.3    Akio Toyoda

                                          industry                  sector  \
State Grid                               Utilities                  Energy
Sinopec Group                   Petroleum Refining                  Energy
China National Petroleum        Petroleum Refining                  Energy
Toyota Motor              Motor Vehicles and Parts  Motor Vehicles & Parts

                          previous_rank country     hq_location  \
State Grid                            2   China  Beijing, China
Sinopec Group                         4   China  Beijing, China
China National Petroleum              3   China  Beijing, China
Toyota Motor                          8   Japan   Toyota, Japan

                                               website  \
State Grid                      http://www.sgcc.com.cn
Sinopec Group                   http://www.sinopec.com
China National Petroleum        http://www.cnpc.com.cn
Toyota Motor              http://www.toyota-global.com

                          years_on_global_500_list  employees  \
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445

                          total_stockholder_equity
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210

In [39]:
#task 3.3.7
toyota = f500.loc["Toyota Motor"]

In [41]:
drink_companies = f500.loc[['Anheuser-Busch InBev','Coca-Cola','Heineken Holding']]

In [42]:
middle_companies = f500.loc['Tata Motors':'Nationwide', 'rank':'country']

In [43]:
#value counts method
sectors = f500["sector"]
print(type(sectors))

<class 'pandas.core.series.Series'>

In [44]:
sectors_value_counts = sectors.value_counts()
print(sectors_value_counts)

sector
Financials                       118
Energy                            80
Technology                        44
Motor Vehicles & Parts            34
Wholesalers                       28
Health Care                       27
Food & Drug Stores                20
Transportation                    19
Telecommunications                18
Retailing                         17
Food, Beverages & Tobacco         16
Materials                         16
Industrials                       15
Aerospace & Defense               14
Engineering & Construction        13
Chemicals                          7
Household Products                 3
Media                              3
Hotels, Restaurants & Leisure      3
Business Services                  3
Apparel                            2
Name: count, dtype: int64

In [45]:
sectors_industries = f500[["sector", "industry"]]
print(type(sectors_industries))

<class 'pandas.core.frame.DataFrame'>

In [46]:
si_value_counts = sectors_industries.value_counts()
print(si_value_counts)

sector                         industry
Financials                     Banks: Commercial and Savings                     51
Motor Vehicles & Parts         Motor Vehicles and Parts                          34
Energy                         Petroleum Refining                                28
Financials                     Insurance: Life, Health (stock)                   24
Food & Drug Stores             Food and Drug Stores                              20
Energy                         Mining, Crude-Oil Production                      18
Financials                     Insurance: Property and Casualty (Stock)          18
Telecommunications             Telecommunications                                18
Energy                         Utilities                                         18
Wholesalers                    Trading                                           15
Health Care                    Pharmaceuticals                                   15
Aerospace & Defense            Aerospace and Defense                             14
Engineering & Construction     Engineering, Construction                         13
Technology                     Electronics, Electrical Equip.                    13
Energy                         Energy                                            12
Materials                      Metals                                            12
Retailing                      Specialty Retailers                               10
Industrials                    Industrial Machinery                              10
Financials                     Insurance: Life, Health (Mutual)                   9
Technology                     Computers, Office Equipment                        8
Transportation                 Airlines                                           8
Financials                     Diversified Financials                             8
Food, Beverages & Tobacco      Food Production                                    7
Retailing                      General Merchandisers                              7
Chemicals                      Chemicals                                          7
Technology                     Internet Services and Retailing                    6
Transportation                 Mail, Package, and Freight Delivery                6
Wholesalers                    Wholesalers: Health Care                           6
Financials                     Real estate                                        6
Health Care                    Health Care: Insurance and Managed Care            6
Technology                     Semiconductors and Other Electronic Components     5
                               Information Technology Services                    5
Food, Beverages & Tobacco      Food Consumer Products                             5
Materials                      Building Materials, Glass                          4
Technology                     Network and Other Communications Equipment         4
                               Computer Software                                  3
Wholesalers                    Wholesalers: Food and Grocery                      3
                               Wholesalers: Electronics and Office Equipment      3
Transportation                 Railroads                                          3
Energy                         Pipelines                                          3
Food, Beverages & Tobacco      Beverages                                          3
Hotels, Restaurants & Leisure  Food Services                                      3
Media                          Entertainment                                      3
Household Products             Household and Personal Products                    3
Apparel                        Apparel                                            2
Financials                     Insurance: Property and Casualty (Mutual)          2
Health Care                    Health Care: Medical Facilities                    2
Industrials                    Textiles                                           2
Health Care                    Health Care: Pharmacy and Other Services           2
Transportation                 Shipping                                           2
Business Services              Temporary Help                                     2
Industrials                    Construction and Farm Machinery                    2
Health Care                    Medical Products and Equipment                     2
Food, Beverages & Tobacco      Tobacco                                            1
Industrials                    Miscellaneous                                      1
Energy                         Oil & Gas Equipment Services                       1
Business Services              Travel Services                                    1
Wholesalers                    Wholesalers: Diversified                           1
Name: count, dtype: int64

In [47]:
#task 3.3.8
countries = f500['country']
country_counts = countries.value_counts()